<div id="canvas-wrapper" [ngClass]="{'zoomed': zoomed, 'dragging': dragging, 'selectedColor': selectedColor!==null}">
    <div id="canvasContainer" #canvasContainer></div>
</div>

<div class="controls">
  <ul id="colors">
    <li 
      *ngFor="let color of colors" class="" 
      [id]="'c-'+color" 
      (click)="selectColor($event, color)" 
      [ngClass]="{'active': selectedColor===color}"></li>
		<!--<li class="" id="c-e4e4e4" ></li>
		<li class="" id="c-888888" ></li>
		<li class="" id="c-222222" ></li>
		<li class="" id="c-ffa7d1" ></li>
		<li class="" id="c-e50000" ></li>
		<li class="" id="c-e59500" ></li>
		<li class="" id="c-a06a42" ></li>
		<li class="" id="c-e5d900" ></li>
		<li class="" id="c-94e044" ></li>
		<li class="" id="c-02be01" ></li>
		<li class="" id="c-00d3dd" ></li>
		<li class="" id="c-0083c7" ></li>
		<li class="" id="c-0000ea" ></li>
		<li class="" id="c-cf6ee4" ></li>
		<li class="" id="c-820080" ></li>-->
	</ul>
</div>